TELEGRAM_BOT_TOKEN=1234567890:JHGJDdjKJJGg2424kjJG
CHAT_ID=-12345678
###
TRELLO_API_KEY=abc123abc123abc123abc123abc123
TRELLO_TOKEN=ATTA....
TRELLO_BOARD_ID=Ldy5Y4b0
###
###
WEBHOOK_URL=example.com
PORT=1234
###
# DEBUG INFO WARNING ERROR CRITICAL
LOGGING_LEVEL=INFO
